---
layout: pagelayout.njk
---

<div class="reader">

	<a href="/posts">⬆ Back to Posts</a>

	{% if headerimage %}
		<div class="image">
			<img src="{{ headerimage }}#responsiveimage" alt="{{ alt }}">
		</div>
	{% endif %}
	<em>This article was also posted at <a href="{{externalurl}}">Dev</a></em>
	{{ content | safe }}

</div>
