@import "nord.css";

:root {
	--background: var(--nord0);
	--modal-background: var(--nord1);
	--modal-hover: var(--nord10);
	--capsule-background: var(--nord2);
	--capsule-hover: var(--nord14);
	--image-background: var(--nord2);
	--plain-text: var(--nord6);
	--selection: var(--nord2);
	--header: var(--nord8);
	--subheader: var(--nord7);
	--subsubheader: var(--nord14);
	--capsule: var(--nord8);
	--capsule-hover: var(--nord14);
	--link: var(--nord8);
	--link-visited: var(--nord9);
	--link-hover-text: var(--nord14);
	--border-color: var(--nord3);
	--shadow-color: var(--nord0);
}

body {
	font-family: 'Space Mono', monospace;
	background-color: var(--background);
	color: var(--plain-text);
}
.main {
	width: 85%;
	max-width: 100em;
	margin: auto;
}
.reader {
	max-width: 50em;
	margin: auto;
}
.modal {
	background-color: var(--modal-background);
	margin: 1%;
	padding: 1%;
	border: 5px solid var(--modal-background);
	border-radius: 16px;
}
.modal:hover {
	border: 5px solid var(--modal-hover);
}
footer {
	text-align: center;
	color: var(--plain-text);
	font-size: .8rem;
	background-color: var(--background);
	width: 100%;
	margin: auto;
	padding-top: 5%;
}
header {
	margin: auto;
	width: 100%;
	text-align: center;
	padding-left: -4%;
	padding-right: -4%;
	background-color: var(--background);
	color: var(--plain-text);
}
.responsive_wrapper {
	display: flex;
	flex-direction: row;
}
.responsive_multi {
	display: flex;
	flex-direction: row;
}
.column2 {
	flex-shrink: 0;
	flex-basis: 46%;
}
.column2flex {
  display: flex;
	flex-shrink: 0;
	flex-basis: 46%;
}
.responsive_text {
  text-align: center;
}
@media only screen and (max-width: 900px) {
	.responsive_multi {
		flex-direction: column;
	}
}
@media only screen and (max-width: 1400px) {
	.responsive_wrapper {
		flex-direction: column;
	}
  .column2flex {
    flex-direction: column;
  }
}
h1 {
	color: var(--header);
}
h2 {
	color: var(--subheader);
}
h3 {
	color: var(--subsubheader);
}
a:link {
	color: var(--link);
	font-weight: bold;
}
a:visited {
	color: var(--link-visited);
}
a:hover {
	color: var(--link-hover-text);
	text-shadow: 2px 2px 2px var(--shadow-color);
}
::-moz-selection {
	background-color: var(--selection);
}

::selection {
	background-color: var(--selection);
}

.link-capsule a {
	background-color: var(--capsule-background);
	border: 5px solid var(--capsule);
	color: var(--capsule);
	text-decoration: none;
	display: inline-block;
	margin: 4px 2px;
	padding: 4px 4px;
	cursor: pointer;
	border-radius: 16px;
}
.link-capsule a:hover {
	border-color: var(--capsule-hover);
	color: var(--capsule-hover);
}
.big-link-capsule a {
	background-color: var(--capsule-background);
	border: 5px solid var(--capsule);
	color: var(--capsule);
	text-decoration: none;
	display: inline-block;
	margin: 4px 2px;
	padding: 8px 8px;
	cursor: pointer;
	border-radius: 32px;
}
.big-link-capsule a:hover {
	border-color: var(--capsule-hover);
	color: var(--capsule-hover);
}

hr {
	margin-top: 75px;
	margin-bottom: 75px;
	color: var(--border-color);
	border: none;
	border-top: 5px dotted var(--border-color);
	width: 80%;
}


/* Code blocks */
pre {
	padding: 10px;
	background-color: var(--modal-background);
	color: var(--plain-text);
	border: 5px solid var(--border-color);
	border-radius: 16px;
	overflow-x: auto;
}

code {
	padding: 1px;
	background-color: var(--modal-background);
	color: var(--plain-text);
}

blockquote {
	padding: 10px;
	background-color: var(--modal-background);
	color: var(--plain-text);
	border: 5px solid var(--border-color);
	border-radius: 16px;
	overflow-x: auto;
}

/* Images */
.image {
  text-align: center;
}
.super-center {
	display: grid;
	place-items: center;
}
img {
	border: 5px solid var(--border-color);
	border-radius: 16px;
	background-color: var(--image-background);
	box-shadow: 5px 5px 2px var(--shadow-color);
}
img:hover {
	box-shadow: 10px 10px 5px var(--shadow-color);
}
img[src*="#responsiveimage"] {
  max-width: 80%;
  max-height: 1000px;
  height: auto;
}
img[src*="#responsivemedium"] {
  max-width: 80%;
  max-height: 250px;
  height: auto;
}
img[src*="#responsivesmall"] {
  max-width: 80%;
  max-height: 100px;
  height: auto;
}

table {
	/* border: 5px solid black; */
	background-color: var(--modal-backgound);
	color: var(--plain-text);
	margin: 10px;
}
th {
	border: 5px solid var(--border-color);
	padding: 5px;
}
td {
	border: 5px solid var(--border-color);
}
