---	
title: "Ryan D. Lewis"
image: ""
alt: ""
---

{% set css %}
  {% include "master.css" %}
{% endset %}

<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="monetization" content="$ilp.uphold.com/24HhrUGG7ekn">
		<link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">
		<style>
			{{ css | cssmin | safe }}
		</style>
		<title>{{ title }}</title>
	</head>
	<body>
		{% if image %}
			<img src="{{ image }}" class="header-image" alt="{{ alt }}">
		{% endif %}
		<h1><a href="{{ '/' }}">Ryan D. Lewis</a> | {{ title }}</h1>
		{{ content | safe }}
	</body>
	<footer>
		<p>Ryan D. Lewis</p>
		<p>This site is an ad-, tracker-, and cookie-free zone. It does use the <a href="https://webmonetization.org/">Web Monetization Standard</a>, just so you're aware. Everything I put up here is for personal and/or informative purposes only, and links to any code repositories or other works are governed by their respective licenses. Anyway, support open source projects, and be nice to each other!</p>
	</footer>
</html>
