@font-face {
	font-family: CascadiaMono;
	src: url(/assets/fonts/woff2/CascadiaMonoPL.woff2);
	font-display: swap;
}

body {
	font-family: 'Cascadia Mono', CascadiaMono, sans-serif;
	padding-left: 10%;
	padding-right: 10%;
	background-color: #00030b;
	color: White;
}
a:link {
	color: Orange;
	border-color: Orange;
}
a:visited {
	color: Chocolate;
	border-color: Chocolate;
}
a:hover {
	color: Coral;
	border-color: Coral;
}
.header-image {
	border-radius: 50%;
	box-shadow: 10px 10px #001010;
}
footer {
	text-align: center;
	color: white;
	font-size: .6rem;
	background-color: #00030b;
	width: 100%;
	margin: auto;
	padding-top: 5%;
}
::-moz-selection {
	background-color: DarkCyan;
	color: Black;
}

::selection {
	background-color: DarkCyan;
	color: Black;
}

.link-capsule ul {
	list-style-type: none;
}

.link-capsule li {
	margin-left: -40px;
}

.link-capsule a {
	background-color: #000a1b;
	border-style: solid;
	text-decoration: none;
	display: table;
	margin: 4px 2px;
	padding: 4px 4px;
	cursor: pointer;
	border-radius: 16px;
	border-width: 2px;
}

.capsule-inline a {
	display: inline-block;
	padding: 4px 4px;
}
