@font-face {
	font-family: CascadiaMono;
	src: url(/assets/fonts/woff2/CascadiaMonoPL.woff2);
	font-display: swap;
}

body {
	font-family: 'Cascadia Mono', CascadiaMono, sans-serif;
	background-color: #A5A7A8;
	color: Black;
}
.main {
	width: 85%;
	max-width: 100em;
	margin: auto;
}
footer {
	text-align: center;
	color: Black;
	font-size: .8rem;
	background-color: #A5A7A8;
	width: 100%;
	margin: auto;
	padding-top: 5%;
}
header {
	margin: auto;
	width: 100%;
	text-align: center;
	padding-left: -4%;
	padding-right: -4%;
}
.responsive2column {
	display: flex;
}
.column-1 {
	flex-shrink: 0;
	flex-basis: 50%;
}
@media only screen and (max-width: 900px) {
	.responsive2column {
		flex-direction: column;
	}
}
h1 {
	color: Black;
}
h2 {
	color: Black;
}
a:link {
	color: Black;
	font-weight: bold;
}
a:visited {
	color: DarkSlateGray;
}
a:hover {
	color: #43B02A;
	background-color: #272828;
}
::-moz-selection {
	background-color: #43B02A;
}

::selection {
	background-color: #43B02A;
}

.link-capsule a {
	background-color: #272828;
	border: 5px solid Black;
	color: #43B02A;
	text-decoration: none;
	display: inline-block;
	margin: 4px 2px;
	padding: 4px 4px;
	cursor: pointer;
	border-radius: 16px;
}
.link-capsule a:hover {
	border-color: #43B02A;
}
.big-link-capsule a {
	background-color: #272828;
	border: 5px solid Black;
	color: #43B02A;
	text-decoration: none;
	display: inline-block;
	margin: 4px 2px;
	padding: 8px 8px;
	cursor: pointer;
	border-radius: 32px;
}
.big-link-capsule a:hover {
	border-color: #43B02A;
}

hr {
	margin-top: 75px;
	margin-bottom: 75px;
	color: Black;
	border: none;
	border-top: 5px dotted Black;
	width: 80%;
}

pre {
	padding: 10px;
	background-color: #272828;
	color: White;
	border: 5px solid Black;
}

code {
	padding: 1px;
	background-color: #272828;
	color: White;
}

/* Images */
.image {
  text-align: center;
}
.vertical-center {
	display: flex;
	justify-content: center;
	align-items: center;
}
img {
	border: 5px solid Black;
	background-color: #272828;
}
img[src*="#responsiveimage"] {
  max-width: 80%;
  max-height: 1000px;
  height: auto;
}
img[src*="#responsivemedium"] {
  max-width: 80%;
  max-height: 250px;
  height: auto;
}
img[src*="#responsivesmall"] {
  max-width: 80%;
  max-height: 100px;
  height: auto;
}
img[src*="#profileimage"] {
	border-radius: 25%;
}
