---
title: "Ryan D. Lewis"
description: ""
---

{% set css %}
  {% include "main.css" %}
{% endset %}

<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="monetization" content="$ilp.uphold.com/24HhrUGG7ekn">
		<meta name="description" content="{{ description }}">
		<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
		<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
		<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
		<link rel="manifest" href="/site.webmanifest">
		<style>
			{{ css | cssmin | safe }}
		</style>
		<title>{{ title | safe }}</title>
		<!-- OpenGraph -->
		<meta property="og:title" content="{{ title | safe }}" />
		<meta property="og:description" content="{{ description | safe }}" />
		{%- if headerimage -%}
		<meta property="og:image" content="{{ headerimage }}" />
		{%- else -%}
		<meta property="og:image" content="/assets/images/profile-pic-icon-192.jpg" />
		{%- endif -%}
	</head>
	<header>
		<div class="big-link-capsule">
			<h1><a href="{{ '/' }}">Ryan D. Lewis</a></h1>
		</div>
		<div class="link-capsule">
			<a href="/">🏠 Home</a>
			<a href="/aboutme">🤝 About Me</a>
			<a href="/posts">📝 Posts</a>
			<a href="/projects">💻 Projects</a>
			<a href="/pubs">📚 Publications</a>
			<a href="/support">💸 Support</a>
		</div>
	</header>
	<body>
		<div class="main">
			<h1>{{ title | safe }}</h1>
			{{ content | safe }}
		</div>
	</body>
	<footer>
	<div class="link-capsule">
		<p>© 2021 <a href="{{ '/' }}">Ryan D. Lewis</a> <a href="{{ '/aboutsite' }}">About This Site</a></p>
	</div>
	</footer>
</html>
