---
layout: masterlayout.njk
---

<div class="link-capsule capsule-inline">

<a href="/posts">📝 Posts</a><a href="/aboutme">🤝 About Me</a><a href="/projects">💻 Projects</a><a href="/pubs">📚 Publications & Presentations</a><a href="/support">💸 Support</a>

</div>

{{ content | safe }}
