---
layout: pagelayout.njk
---

<div class="reader">

	<a href="/posts">⬆ Back to Posts</a>

	{% if headerimage %}
		<div class="image">
			<img src="{{ headerimage }}#responsiveheaderimage" alt="{{ alt }}">
		</div>
	{% endif %}

	<div class="link-capsule prev-next">
		{% if prevPost.url %}
			<a href="{{ prevPost.url }}" title="{{ prevPost.data.title }}"><b>Previous Post: {{ prevPost.data.title }}</b></a>
		{% endif %}
		{% if nextPost.url %}
			<a href="{{ nextPost.url }}" title="{{nextPost.data.title}}"><b>Next Post: {{ nextPost.data.title }}</b></a>
		{% endif %}
	</div>

	{{ content | safe }}

	<div class="link-capsule prev-next">
		{% if prevPost.url %}
			<a href="{{ prevPost.url }}" title="{{ prevPost.data.title }}"><b>Previous Post: {{ prevPost.data.title }}</b></a>
		{% endif %}
		{% if nextPost.url %}
			<a href="{{ nextPost.url }}" title="{{nextPost.data.title}}"><b>Next Post: {{ nextPost.data.title }}</b></a>
		{% endif %}
	</div>
</div>
