---
layout: pagelayout.njk
---

<a href="/posts">⬆ Back to Posts</a>

{% if headerimage %}
	<div class="image">
		<img src="{{ headerimage }}#responsivemedium" alt="{{ alt }}">
	</div>
{% endif %}


{{ content | safe }}
