---
layout: pagelayout.njk
---

<a href="/projects">⬆ Back to Projects</a>

<h2> {{ title }} </h2>

Project Link: <a href="{{ projecturl }}">{{ projecturl }}</a>

<h3>Project Description</h3>

{{ description }}


{{ content | safe }}
